.App {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.App__div {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10vh 0  5vh 0;
}

.form {
    position: absolute;
    top: 5vh;
    width: 280px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-one);
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-medium);
    z-index: 1;
}

.form__input {
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: inherit;
    border-radius: 1rem 0 0 1rem;
    color: inherit;
}

.form__button {
    width: 80px;
    height: 30px;
    margin: 0;
    padding: 0 5px 0 5px;
    border: none;
    font-size: 1rem;
    background: inherit;
    border-radius: 1rem 1rem 1rem 1rem;
    cursor: pointer;

}

.form__button:active {
    background-color: var(--color-three);
}

.div--cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    max-width: 400px;
    height: 400px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--shadow-elevation-high);
    margin: 20px;
    position: relative;
    color: var(--color-one);
    transition: all 1s;
}

.div--cards:hover{
    transform: translateY(-10px);
    transition: all 1s;
}

.div__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.div__picture--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.div__div--textCards {
    position: absolute;
    top: 80%;
    height: 60%;
    width: 100%;
    background: rgb(27, 31, 31);
    background: linear-gradient(0deg, rgba(27, 31, 31, 0.8715861344537815) 67%, rgba(27, 31, 31, 0.8491771708683473) 70%, rgba(27, 31, 31, 0) 100%);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    transition: all 1s;
}

.div__div--textCards::-webkit-scrollbar {
    width: 7px;
}

.div__div--textCards:hover::-webkit-scrollbar-track {
    border: 1px solid transparent;
}

.div__div--textCards:hover::-webkit-scrollbar-thumb {
    background-color: var( --color-three);
    border-radius: 7px;
}

.div__div--textCards::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-four);
}

.div__div--textCards::-webkit-scrollbar-corner {
    background-color: transparent;
}

.div--cards:hover .div__picture {
    filter: blur(4px);
    transform: translateY(-20px);
    transition: all 0.5s;
}

.div__div--h3 {
    margin: 20px 20px 40px 20px;
    padding: 5px;
    align-self: flex-start;
    border-radius: 0.5rem;
    background-color: var(--color-three);
    color: var(--color-two);
}

.div__div--p {
    padding: 0 20px 0 20px;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.div--cards:hover .div__div--textCards {
    top: 40%;
    transition: all 1s;
}

.div__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh
}

.div__img--error {
    width: 30%;
}

.div__h3--error {
    margin: 2%;
    color:var(--color-two);
    font-size: 1.5rem;
    text-align: center;
}