:root{
    --color-one:#FAF7F0;
    --color-two:black;
    --color-three:#BCCEF8;
    --color-four:#98A8F8;

    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      -0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.12),
      -0.4px 0.3px 0.6px -1.1px hsl(var(--shadow-color) / 0.13),
      -1px 0.9px 1.6px -2.2px hsl(var(--shadow-color) / 0.14);
    --shadow-elevation-medium:
      -0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.13),
      -0.9px 0.7px 1.3px -0.7px hsl(var(--shadow-color) / 0.13),
      -2.2px 1.8px 3.3px -1.5px hsl(var(--shadow-color) / 0.14),
      -5.2px 4.4px 7.9px -2.2px hsl(var(--shadow-color) / 0.15);
    --shadow-elevation-high:
      -0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.11),
      -1.6px 1.4px 2.5px -0.3px hsl(var(--shadow-color) / 0.11),
      -2.9px 2.5px 4.5px -0.6px hsl(var(--shadow-color) / 0.11),
      -4.6px 3.9px 7px -0.8px hsl(var(--shadow-color) / 0.11),
      -6.9px 5.8px 10.5px -1.1px hsl(var(--shadow-color) / 0.12),
      -10.2px 8.6px 15.5px -1.4px hsl(var(--shadow-color) / 0.12),
      -14.8px 12.5px 22.5px -1.7px hsl(var(--shadow-color) / 0.12),
      -21.1px 17.9px 32.2px -2px hsl(var(--shadow-color) / 0.12),
      -29.5px 24.9px 44.9px -2.2px hsl(var(--shadow-color) / 0.13);
}

body{
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-one);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p,img{
    margin: 0;
    padding: 0;
}

p::selection{
    background-color: transparent;;
    color: var(--color-four);
}


